.service-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
    text-align: left;
}

@media (max-width:768px){
    .service-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}